h1 {
  margin-left: 20px;
}

.form-div {
    margin: 50px auto 50px;
    padding: 25px 15px 10px 15px;
    border: 1px solid #80ced7;
    border-radius: 5px;
    font-size: 1.1em;
}

.form-control:focus {
    box-shadow: none;
}

.form p{
    font-size: .89em;
}

.navigation {
  background-color: rgb(230, 230, 230);
  margin-top: 0px;
}

.navbar-home {
  margin-top: 10px;
  margin-bottom: 0px;
  color: black;
}

.navbar-btn-logout {
  margin-left: 50px;
}

.navbar-btn {
  margin-left: 20px;
  margin-right: 20px;
}

.account-status {
  position: fixed;
  margin-top: 70px;
}

.dropmenu {
  display: inline-block;
}

.collapsible_container {
  width: 50%;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
}

.content-title {
  font-size: 30px;
}

.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 20px;
}

.collapsible:focus{
  outline: none;
}

.active, .collapsible:hover {
  background-color: #1386FC;
  color: white;
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}

.contenttext{
  margin-top: 15px;
  margin-bottom: 15px;
}

.edit-soal-btn {
  width: 20px;
  height: 40px;
  text-decoration: none;
  text-align: center;
  background-color: #1386FC;
  color: white;
  border: gray;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.delete-soal-btn {
  width: 20px;
  height: 40px;
  text-decoration: none;
  text-align: center;
  color: white;
  border: gray;
  border-radius: 5px;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.quiz-form-div {
  width: 70%;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  padding: 25px 15px 10px 15px;
  border: 1px solid #80ced7;
  border-radius: 5px;
  font-size: 1.1em;
}

/* Turn on custom 8px wide scrollbar */
::-webkit-scrollbar {
  width: 8px; /* 1px wider than Lion. */
  /* This is more usable for users trying to click it. */
  background-color: rgba(0,0,0,0);
  -webkit-border-radius: 100px;
}
/* hover effect for both scrollbar area, and scrollbar 'thumb' */
::-webkit-scrollbar:hover {
  background-color: rgba(0, 0, 0, 0.09);
}

/* The scrollbar 'thumb' ...that marque oval shape in a scrollbar */
::-webkit-scrollbar-thumb:vertical {
  /* This is the EXACT color of Mac OS scrollbars. 
     Yes, I pulled out digital color meter */
  background: rgba(0,0,0,0.5);
  -webkit-border-radius: 100px;
}
::-webkit-scrollbar-thumb:vertical:active {
  background: rgba(0,0,0,0.61); /* Some darker color when you click it */
  -webkit-border-radius: 100px;
}

.nosoal {
  font-size: 30px;
  align-items: center;
}

.alertmessage {
  margin-top: 0px;
  position: fixed;
  margin-left: 20%;
  margin-right: 20%;
  width: 60%;
}

.delete-btn {
  margin-top: 20px;
}
