h1 {
  margin-left: 20px;
}

.form-div {
    margin: 50px auto 50px;
    padding: 25px 15px 10px 15px;
    border: 1px solid #80ced7;
    border-radius: 5px;
    font-size: 1.1em;
}

.form-control:focus {
    box-shadow: none;
}

.form p{
    font-size: .89em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
  
.navbar-list {
  float: left;
}

.navbar-list a {
  display: block;
  color: red;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

.navbar-btn {
  width: 150px;
  height: 50px;
  border:none;
  border-radius: 5px;
  background: rgba(255, 255, 255,0);
  font-size: 15px;
  color: white;
}

.header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 10px;
}

.header h1 {
  float: left;
  margin-left: 20px;
}

.header .navbar-btn {
  float: right;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  line-height: 25px;
  border-radius: 20px;
}

.navbar-btn:hover {
  background-color: gray;
  color: white;
}

.navbar-btn:focus {
  outline: none;
}

.header .navbar-btn-logout {
  float: right;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  line-height: 25px;
  border: none;
  border-radius: 20px;
}
.navbar-btn-logout:hover {
  background-color: orange;
  color: black;
}

.navbar-btn-logout:focus {
  outline: none;
} 

.navbar-home {
  outline: none;
  border: none;
  color: black;
}

.navbar-home:focus {
  outline: none;
}
