h1 {
  margin-left: 20px;
}

.form-div {
    margin: 50px auto 50px;
    padding: 25px 15px 10px 15px;
    border: 1px solid #80ced7;
    border-radius: 5px;
    font-size: 1.1em;
}

.form-control:focus {
    box-shadow: none;
}

.form p{
    font-size: .89em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
  
.navbar-list {
  float: left;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

.navbar-btn {
  width: 150px;
  height: 50px;
  border:none;
  border-radius: 5px;
  background: rgba(255, 255, 255,0);
  font-size: 15px;
  color: white;
}

.header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 10px;
  align-items: center;
}

.header h1 {
  margin-top: 8px;
  margin-left: 6px;
}

.header .navbar-btn {
  float: right;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  line-height: 25px;
  border-radius: 20px;
}

.navbar-btn:hover {
  background-color: lightgray;
  color: black;
}

.active {
  background-color: #1386FC;
  color: white;
}

.navbar-btn:focus {
  outline: none;
}


.header .navbar-btn-logout {
  float: right;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  line-height: 25px;
  border: none;
  border-radius: 20px;
}
.navbar-btn-logout:hover {
  background-color: orange;
  color: black;
}

.navbar-btn-logout:focus {
  outline: none;
} 

.navbar-home {
  outline: none;
  border: none;
  color: black;
}

.navbar-home:focus {
  outline: none;
}

.account-status {
  position: absolute;
  top: 68px;
  left: 20px;
  font-weight: bold;
  color: black;
}

.collapsible_container {
  width: 50%;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
}

.content-title {
  font-size: 30px;
}

.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #1386FC;
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}

.quiz-form-div {
  width: 70%;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  padding: 25px 15px 10px 15px;
  border: 1px solid #80ced7;
  border-radius: 5px;
  font-size: 1.1em;
}

/* Turn on custom 8px wide scrollbar */
::-webkit-scrollbar {
  width: 8px; /* 1px wider than Lion. */
  /* This is more usable for users trying to click it. */
  background-color: rgba(0,0,0,0);
  -webkit-border-radius: 100px;
}
/* hover effect for both scrollbar area, and scrollbar 'thumb' */
::-webkit-scrollbar:hover {
  background-color: rgba(0, 0, 0, 0.09);
}

/* The scrollbar 'thumb' ...that marque oval shape in a scrollbar */
::-webkit-scrollbar-thumb:vertical {
  /* This is the EXACT color of Mac OS scrollbars. 
     Yes, I pulled out digital color meter */
  background: rgba(0,0,0,0.5);
  -webkit-border-radius: 100px;
}
::-webkit-scrollbar-thumb:vertical:active {
  background: rgba(0,0,0,0.61); /* Some darker color when you click it */
  -webkit-border-radius: 100px;
}

.quesnumgrid {
  grid-template-columns: auto auto;
}
